<div class="chat">
  <div class="chat__interface no-gutters">
    <div class="row">
      <div class="col-4"><div class="chat__menu">
          <h6 class="text-grey">Профиль</h6>
          <i class="fa fa-solid fa-angle-right text-grey"></i>

        </div></div>
      <div class="col-8">
        <div class="chat__menu chat__menu--between">
          <div class="chat__profile">
            <div class="profile__image"></div>
            <div class="text">
              <h6>Вадим</h6>

            </div></div>

          <span class="tray--right">
            <i
              class="pointer fa fa-solid fa-bars"
              onClick="modalAccount()"
              data-modal_account="modal-menu"
            ></i>

          </span>
        </div></div>
    </div>
    <div class="row"><div class="col-4 border-right">

        <div class="search-box">
          <div class="input-wrapper">
            <i class="fa fa-solid fa-search"></i>
            <input placeholder="Поиск" class="input_search" type="text" />
          </div>
        </div>
        <ul
          class="drawer-friends"
          style=" /* Убираем маркеры */margin-left: 0; /* Отступ слева в браузере IE и Opera */padding-left: 0;"
        >

          <li
            class="drawer-friend drawer-friend--onhover"
            style="
    list-style-type: none; /* Убираем маркеры */
"
          >
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
          <li class="drawer-friend drawer-friend--onhover">
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
          <li class="drawer-friend drawer-friend--onhover">
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
          <li class="drawer-friend drawer-friend--onhover">
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
          <li class="drawer-friend drawer-friend--onhover">
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
          <li class="drawer-friend drawer-friend--onhover">
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
          <li class="drawer-friend drawer-friend--onhover">
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
          <li
            class="drawer-friend drawer-friend--onhover"
            style="
    text-decoration: none;
"
          >
            <div class="profile__image"></div>
            <div class="drawer-friend__message">
              <div class="main">
                <h6 class="main__text">Киноклуб</h6>
                <span class="time text-grey small">12:00</span>
              </div>
              <div class="info">
                <p class="text-grey"><b class="info__your">Вы:</b>
                  стикер стикер стикер</p>

                <div class="unread_number"><span>12</span>
                </div>
              </div>
            </div>
          </li>
          <hr />
        </ul>

      </div>

      <div class="col-8 chat__communion">
        <div class="">

          <div class="popup" id="modal-menu">
            <div class="popup__card">
              <button data-modal_add="modal-add" class="popup__btn">
                <i
                  class="popup__icon popup__icon--circle fa fa-solid fa-plus"
                ></i>
                Добавить пользователя</button>
              <button data-modal_delete="modal-delete" class="popup__btn">
                <i
                  class="popup__icon popup__icon--circle fa fa-solid fa-xmark"
                ></i>
                Удалить пользователя</button>

            </div>
          </div>
          <div class="modal" id="modal-add">
            <div class="modal__dialog">
              <button class="modal__close modal-exit">×</button>
              <header class="modal__header">
                <h3 class="modal__title">Добавить пользователя</h3>
              </header>
              <div class="modal__content">
                <label for=""><span>Логин:</span>
                  <input type="text" class="input" />
                </label>

              </div>
              <footer class="modal__footer">
                <button class="btn btn--primary modal-exit">Добавить</button>
              </footer>
            </div>
          </div>

          <div class="modal" id="modal-delete">
            <div class="modal__dialog">
              <button class="modal__close modal-exit">×</button>
              <header class="modal__header">
                <h3 class="modal__title">Удалить пользователя</h3>
              </header>
              <div class="modal__content">
                <label for=""><span>Логин:</span>
                  <input type="text" class="input" />
                </label>

              </div>
              <footer class="modal__footer">
                <button class="btn btn--primary modal-exit">Удалить</button>

              </footer>
            </div>
          </div>
        </div>
        <main class="chat__panel panel">
          <div class="panel__communion">
            <div class="panel__timestamp text-grey">19 июня</div>
            <ul>
              <li class="panel__message">
                <div class="panel__bubble panel__bubble--left">
                  <p>Привет! Смотри, тут всплыл интересный кусок лунной
                    космической истории — НАСА в какой-то момент попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну.
                    Сейчас мы все знаем что астронавты летали с моделью 500 EL —
                    и к слову говоря, все тушки этих камер все еще находятся на
                    поверхности Луны, так как астронавты с собой забрали только
                    кассеты с пленкой. Хассельблад в итоге адаптировал SWC для
                    космоса, но что-то пошло не так и на ракету они так никогда
                    и не попали. Всего их было произведено 25 штук, одну из них
                    недавно продали на аукционе за 45000 евро.</p>
                  <p class="panel__bubble_time text-grey">11:56</p>
                </div>
              </li>

              <li class="panel__message">
                <div
                  class="panel__bubble panel__bubble--left panel__bubble--img"
                >
                  <div class="">
                    <img
                      src="https://79.img.avito.st/image/1/1.8lDolra6XrneP5y8gK2PKjQ1WL1ctVZ7WTVasVw9XA.A1GlhzIn3YNArxmfwqjWI-LAX8imy1YC_a6hbWMEKaE"
                      width="200"
                      alt=""
                      class=""
                    />
                  </div>
                  <p
                    class="panel__bubble_time panel__bubble_time--dark text-white"
                  >11:56</p>
                </div>
              </li>

              <li class="panel__message panel__message--right">
                <div class="panel__bubble panel__bubble--right">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eius dolorum tempore inventore consequatur hic?</p>

                  <p class="panel__bubble_time text-white"><i
                      class="icon fa fa-solid fa-check"
                    ></i>11:56</p></div>
              </li>

              <li class="panel__message">
                <div class="panel__bubble panel__bubble--left">

                  <p>Привет! Смотри, тут всплыл интересный кусок лунной
                    космической истории — НАСА в какой-то момент попросила
                    Хассельблад адаптировать модель SWC для полетов на Луну.
                    Сейчас мы все знаем что астронавты летали с моделью 500 EL —
                    и к слову говоря, все тушки этих камер все еще находятся на
                    поверхности Луны, так как астронавты с собой забрали только
                    кассеты с пленкой. Хассельблад в итоге адаптировал SWC для
                    космоса, но что-то пошло не так и на ракету они так никогда
                    и не попали. Всего их было произведено 25 штук, одну из них
                    недавно продали на аукционе за 45000 евро.</p>
                  <p class="panel__bubble_time text-grey">11:56</p>
                </div>
              </li>
            </ul>

          </div>

        </main>
        <div class="">
          <div class="chat__action_message action_message">
            <i
              class="fa fa-solid fa-paperclip pointer clip modal-exit"
              data-modal_clip="modal-clip"
            ></i>
            <input type="text" placeholder="Сообщение" class="input_search" />
            <button class="send pointer"><i
                class="fa fa-solid fa-angle-right"
              ></i></button>
            <div class="popup popup__clip" id="modal-clip">
              <div class="popup__card">
                <button class="popup__btn">
                  <i class="popup__icon fa fa-solid fa-file-image"></i>
                  Фото или Видео</button>
                <button class="popup__btn popup__btn--secondary">

                  <i class="popup__icon fa fa-solid fa-file-circle-check"></i>
                  Файл</button>
                <button class="popup__btn popup__btn--secondary">
                  <i class="popup__icon fa fa-solid fa-compass"></i>
                  Локация</button>
              </div>
            </div>
          </div>
        </div>
      </div></div>

  </div>
</div>

{{!  
<script>
  
const modal_account = document.querySelectorAll("[data-modal_account]");
const modal_add = document.querySelectorAll("[data-modal_add]");
const modal_delete = document.querySelectorAll("[data-modal_delete]");
const modal_clip = document.querySelectorAll("[data-modal_clip]");

function modalAccount () {
  modal_account.forEach(function (trigger) {
  trigger.addEventListener("click", function (event) {
    event.preventDefault();
    const modal = document.getElementById(trigger.dataset.modal_account);
    modal.classList.toggle("open");
      trigger.classList.toggle("modal-exit");
      const exits = document.querySelectorAll(".modal-exit");
   });
});
}
</script> }}
