@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../../../static/fonts/Inter-Regular.woff2") format("woff2"),
    url("../../../static/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
