.modal {
  $this: modal;
  display: block;
  z-index: 1000;
  position: fixed;
  background: #40404094;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 15px;
  overflow: auto;
  background-color: fade(var(--color-black), 88%);
  visibility: hidden;
  opacity: 0;
  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__dialog {
    position: relative;
    max-width: 400px;
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    background-color: var(--color-black);
    transform: translateY(50%);
  }

  &__close {
    position: absolute;
    top: 20;
    right: 20;
    padding: 0;
    border: none;
    color: #ccc;
    background-color: transparent;
    background-image: none;

    &:focus {
      outline: 0;
    }
  }

  &__header {
    border-bottom: 1px solid var(--color-border);
  }

  &__title {
    margin: 0 0 15px;
  }

  &__content {
    padding: 10px 0;
    font-size: 13px;
    line-height: 1.6;
    color: #555;
  }

  &__footer {
    padding-top: 20;
    border-top: 1px solid var(--color-border);
    text-align: right;
  }

  /* Modifiers */
  &--fullscreen {
    padding: 5px;
  }
}
